workflow.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1184,
        48
      ],
      "id": "229ba5e8-26f1-4efc-b60b-ad931ff61ca5",
      "name": "Groq",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.output}}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1552,
        48
      ],
      "id": "f8b230ed-292c-4676-9b06-78e5edf861bc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "multipleMethods": "={{ false }}",
        "httpMethod": "POST",
        "path": "start",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        480,
        16
      ],
      "id": "0b2b74d0-2595-42a1-8d27-ffb537649210",
      "name": "Webhook",
      "webhookId": "893e5e23-2e0b-48fb-80c9-dbcbb98c77db"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1184,
        304
      ],
      "id": "0e587dfb-18dd-4799-bd70-21fa033f0ba5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "pLl6AmvnOYiuBTza",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5a6f748-07a4-4be9-94bc-1440b2af5c66",
              "name": "output",
              "value": "={{$json[\"body\"][\"target_ip\"]}} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        160
      ],
      "id": "8f6b857b-8c90-4c84-8a60-2250a3e49bf4",
      "name": "set IP"
    },
    {
      "parameters": {
        "command": "=nmap -T4 -A -v {{ $json.output }}\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        816,
        32
      ],
      "id": "5583d350-fc88-46e6-bd63-3dd906c09fbc",
      "name": "Nmap scan"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "221ea20e-8bd3-46d6-b907-2cd797a6ec85",
              "name": "chatInput",
              "value": "=Analyze the following Nmap + Nessus results and summarize: {{$json[\"stdout\"]}} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        160
      ],
      "id": "08b8c1f7-c35d-40bf-bf27-5b74ed358f06",
      "name": "set Prompt"
    }
  ],
  "connections": {
    "Groq": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "set IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "set IP": {
      "main": [
        [
          {
            "node": "Nmap scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nmap scan": {
      "main": [
        [
          {
            "node": "set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set Prompt": {
      "main": [
        [
          {
            "node": "Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56eb2278a2a0c1350b51e266471549cb4cb4a4c018cbdd56f3fc5e1529a703da"
  }
}
